<!DOCTYPE html>
<html>
  <head>
    <title>RubyQuezTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container-fluid'>
      <div class='row'>
        <% flash.each do |type, msg| %>
          <div class="text-center bg-info">
            <%= msg %>
          </div>
        <% end %>
        <% if current_employee.present? %>
          <div class='col-md-2'>
            <%= render 'layouts/sidebar' %>
          </div> 
        <% end %>  
        <div class='col-md-10'>
          <main role='main' class=' ml-sm-auto pt-3 px-4'>
            <%= yield %>
          </main>
        </div>
        
      </div>
    </div>
  </body>
</html>
